/*=========== Search icon expand ==========*/
@import url("icon-moon.css");

#menu-item-siq-selectbox,
.siq-icon-item-siq-selectbox{
    position: relative!important;
    width: 40px!important;
    height: 46px;
    height: 31px;
    left:auto;
    right:auto;
}
.siq-icon-item-siq-selectbox{
	height:auto;
	clear:both;
}
#menu-item-siq-selectbox.moveToExtremeRight{
    position:absolute!important;
    right:0px;
    height: auto;
    left:auto;
}
.siq-icon-item-siq-selectbox.moveToExtremeRight{
	float:right;
	height: 46px;
}
.siq-icon-item-siq-selectbox.moveToExtremeRight .siq-icon-searchbox-wrap{
	position:absolute;
	right:0px;
}
#menu-item-siq-selectbox a,
.siq-icon-item-siq-selectbox a{ outline:none; }
#siq-menu-searchbox-wrap{ position:absolute; right:0px; z-index:9; }
.siq-icon-item-siq-selectbox .siq-icon-searchbox-wrap{
	
}
#siq-menu-searchbox-wrap.siq-search-open,
.siq-icon-item-siq-selectbox .siq-icon-searchbox-wrap.siq-search-open{ width:300px;}
#siq-menu-searchbox-wrap #siq-expsearch-cont{ }
#siq-menu-searchbox-wrap #siq-expsearch-cont .siq-expsearch,
.siq-icon-searchbox-wrap .siq-expsearch-cont .siq-expsearch{position:relative;min-width:50px;width:50px; height:46px;float:right;overflow:hidden;-webkit-transition: all 0.5s ease-in-out;-moz-transition: all 0.5s ease-in-out;-ms-transition: all 0.5s ease-in-out;-o-transition: all 0.5s ease-in-out;transition: all 0.5s ease-in-out;}

#siq-menu-searchbox-wrap #siq-expsearch-cont .siq-expsearch input::-moz-placeholder,
.siq-icon-searchbox-wrap .siq-expsearch-cont .siq-expsearch input::-moz-placeholder{
    font-family:'Segoe UI', sans-serif;
    font-size:13px;
}

#siq-menu-searchbox-wrap #siq-expsearch-cont .siq-expsearch input:-ms-input-placeholder,
.siq-icon-searchbox-wrap .siq-expsearch-cont .siq-expsearch input:-ms-input-placeholder{
    font-family:'Segoe UI', sans-serif;
    font-size:13px;
}
#siq-menu-searchbox-wrap #siq-expsearch-cont .siq-expsearch input:-moz-placeholder,
.siq-icon-searchbox-wrap .siq-expsearch-cont .siq-expsearch input:-moz-placeholder{
    font-family:'Segoe UI', sans-serif;
    font-size:13px;
}
#siq-menu-searchbox-wrap #siq-expsearch-cont .siq-expsearch input::-webkit-input-placeholder,
.siq-icon-searchbox-wrap .siq-expsearch-cont .siq-expsearch input::-webkit-input-placeholder{
    font-family:'Segoe UI', sans-serif;
    font-size:13px;
}

#siq-menu-searchbox-wrap.siq-search-open #siq-expsearch-cont .siq-expsearch,
.siq-icon-searchbox-wrap.siq-search-open .siq-expsearch-cont .siq-expsearch{ width:100%;}

#siq-menu-searchbox-wrap #siq-expsearch-cont .siq-expsearch-input,
.siq-icon-searchbox-wrap .siq-expsearch-cont .siq-expsearch-input{top:0;right:0;border:0;z-index:99999; outline:0;background:#f8f8f8;width:100%;height:46px;margin:0;padding:0 40px 0 10px;font-size:14px;color:#222222;opacity:0;-webkit-transition: all 0.5s ease-in-out;-moz-transition: all 0.5s ease-in-out;-ms-transition: all 0.5s ease-in-out;-o-transition: all 0.5s ease-in-out;transition: all 0.5s ease-in-out;}

#siq-menu-searchbox-wrap.siq-search-open #siq-expsearch-cont .siq-expsearch-input,
.siq-icon-searchbox-wrap.siq-search-open .siq-expsearch-cont .siq-expsearch-input{display:block;opacity:1;}

#siq-menu-searchbox-wrap #siq-expsearch-cont .siq-expsearch-input::-webkit-input-placeholder,
.siq-icon-searchbox-wrap .siq-expsearch-cont .siq-expsearch-input::-webkit-input-placeholder{color:#969696}
#siq-menu-searchbox-wrap #siq-expsearch-cont .siq-expsearch-input:-moz-placeholder,
.siq-icon-searchbox-wrap .siq-expsearch-cont .siq-expsearch-input:-moz-placeholder{color:#969696}
#siq-menu-searchbox-wrap #siq-expsearch-cont .siq-expsearch-input::-moz-placeholder,
.siq-icon-searchbox-wrap .siq-expsearch-cont .siq-expsearch-input::-moz-placeholder{color:#969696}
#siq-menu-searchbox-wrap #siq-expsearch-cont .siq-expsearch-input:-ms-input-placeholder,
.siq-icon-searchbox-wrap .siq-expsearch-cont .siq-expsearch-input:-ms-input-placeholder{color:#969696}
#siq-menu-searchbox-wrap #siq-expsearch-cont .siq-expsearch-icon,
.siq-icon-searchbox-wrap .siq-expsearch-cont .siq-expsearch-icon{width:50px;height:46px;display:block;position:absolute;top:0;right:0;padding:0;margin:0;border:0;outline:0;line-height:46px;text-align:center;cursor:pointer;color:#000;background:transparent;}
#siq-menu-searchbox-wrap.siq-search-open #siq-expsearch-cont,
.siq-icon-searchbox-wrap.siq-search-open .siq-expsearch-cont{width:100%}
#siq-menu-searchbox-wrap #siq-expsearch-cont span.siq-expsearch-icon:before,
.siq-icon-searchbox-wrap .siq-expsearch-cont span.siq-expsearch-icon:before{content:"\e900";font-family: 'SIQ_icomoon';font-size:22px;}

#siq-menu-searchbox-wrap.siq-search-open #siq-expsearch-cont .siq-expsearch-icon,
.siq-icon-searchbox-wrap.siq-search-open .siq-expsearch-cont .siq-expsearch-icon{
    color:#000!important;
}

#siq-menu-searchbox-wrap.openFromLeft,
.siq-icon-searchbox-wrap.openFromLeft{
    left:0px;
    right:auto;
}


#siq-menu-searchbox-wrap.openFromLeft #siq-expsearch-cont .siq-expsearch-input,
.siq-icon-searchbox-wrap.openFromLeft .siq-expsearch-cont .siq-expsearch-input{
    padding:0 10px 0 40px;
}
#siq-menu-searchbox-wrap.openFromLeft #siq-expsearch-cont .siq-expsearch,
.siq-icon-searchbox-wrap.openFromLeft .siq-expsearch-cont .siq-expsearch{
    float:left;
}
#siq-menu-searchbox-wrap.openFromLeft #siq-expsearch-cont .siq-expsearch-icon,
.siq-icon-searchbox-wrap.openFromLeft .siq-expsearch-cont .siq-expsearch-icon{
    left:0px;
    right:auto;
}

#siq-menu-searchbox-wrap #siq-expsearch-cont .siq-expsearch-icon input[type="search"]::-webkit-search-decoration,
#siq-menu-searchbox-wrap #siq-expsearch-cont .siq-expsearch-icon input[type="search"]::-webkit-search-cancel-button,
#siq-menu-searchbox-wrap #siq-expsearch-cont .siq-expsearch-icon input[type="search"]::-webkit-search-results-button,
#siq-menu-searchbox-wrap #siq-expsearch-cont .siq-expsearch-icon input[type="search"]::-webkit-search-results-decoration,
.siq-icon-searchbox-wrap .siq-expsearch-cont .siq-expsearch-icon input[type="search"]::-webkit-search-decoration,
.siq-icon-searchbox-wrap .siq-expsearch-cont .siq-expsearch-icon input[type="search"]::-webkit-search-cancel-button,
.siq-icon-searchbox-wrap .siq-expsearch-cont .siq-expsearch-icon input[type="search"]::-webkit-search-results-button,
.siq-icon-searchbox-wrap .siq-expsearch-cont .siq-expsearch-icon input[type="search"]::-webkit-search-results-decoration { display: none; }


/*===========Search Expanded Widget==========*/
#siq-expandwdgt-cont, .siq-expandwdgt-cont{width:100%; clear:both;}
#siq-expandwdgt-cont .siq-expandwdgt,
.siq-expandwdgt-cont .siq-expandwdgt
{position:relative;width:100%;height:38px;}

#siq-expandwdgt-cont .siq-expandwdgt-input,
.siq-expandwdgt-cont .siq-expandwdgt-input{top:0;right:0;z-index:99999;background:#fff;border:1px solid #d1d1d1;outline:0; width:100%;height:38px;margin:0;padding:0 10px 0 35px;font-size:14px;color:#222222;border-radius:3px; box-sizing: border-box; -webkit-appearance: textfield;}

.siq-expandwdgt-cont.moveToExtremeRight  .siq-expandwdgt-input{
	padding:0 35px 0 10px;
}
#siq-expandwdgt-cont .siq-expandwdgt-input::-webkit-input-placeholder,
.siq-expandwdgt-cont .siq-expandwdgt-input::-webkit-input-placeholder{
    color:#c1c1c1;
    font-family:'Segoe UI', sans-serif;
    font-size:14px;
}
.siq-expandwdgt-cont.moveToExtremeRight{ text-align:right;}
#siq-expandwdgt-cont .siq-expandwdgt-input:-moz-placeholder,
.siq-expandwdgt-cont .siq-expandwdgt-input:-moz-placeholder{
    color:#969696;
    font-family:'Segoe UI', sans-serif;
    font-size:14px;
}
#siq-expandwdgt-cont .siq-expandwdgt-input::-moz-placeholder,
.siq-expandwdgt-cont .siq-expandwdgt-input::-moz-placeholder{
    color:#969696;
    font-family:'Segoe UI', sans-serif;
    font-size:14px;
}
#siq-expandwdgt-cont .siq-expandwdgt-input:-ms-input-placeholder,
.siq-expandwdgt-cont .siq-expandwdgt-input:-ms-input-placeholder{
    color:#969696;
    font-family:'Segoe UI', sans-serif;
    font-size:14px;
}

#siq-expandwdgt-cont .siq-expandwdgt-icon,
.siq-expandwdgt-cont .siq-expandwdgt-icon{width:40px;height:38px;line-height:36px;display:block;position:absolute;top:0;left:0;padding:0;margin:0;border:0;outline:0;text-align:center;color:#dcdcdc;}
.siq-expandwdgt-cont.moveToExtremeRight .siq-expandwdgt-icon{
	right:0px; left:auto;
}
span.siq-expandwdgt-icon:before{content:"\e900";font-family: 'SIQ_icomoon';font-size:18px;}

@media screen and (max-width: 480px) {
    body #menu-item-siq-selectbox {
        display: none!important;
    }
}