html, body {
	height: 100%;
	background-color: #FCFCFC;
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0px;
}


a {
	color: #000000 !important;
	text-decoration:none;
		
}



#contenedor {
	width: 1000px;
	min-height: 99%;
	margin: auto;
	position: relative;
	background-color: #FFFFFF;
	border: 1px solid #EFEFEF;
}

#contenido {
  background-color: #FFFFFF;
  width: 1000px;
  position: relative;
  top:  0px;
  left: 0px;
}

.txt {
  font-size: 13px;
  font-family: 'helvetica' !important;
  color:#000000;  
  padding:0px;
  margin:0px;
  text-decoration: none;
}
.txt_black {
  font-size: 15px;
  font-family: 'helvetica' !important;
  color:#000000;  
  padding:0px;
  margin:0px;
  text-decoration: none;
}
.txt_grey {
  font-size: 15px;
  font-family: 'helvetica' !important;
  color:#000000;  
  padding:0px;
  margin:0px;
  text-decoration: none;
}
.pastilla_normal {
  font-size: 13px;
  font-family: 'helvetica' !important;
  color:#333333;  
  text-decoration: none;
  width: 300px;
  height: 18px;
  background-color: #E5E5E5;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 2px;
}

.txt_normal {
	font-size: 13px;
	font-family: helvetica !important;
	color: #333333;
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	font-weight: lighter;
}
.med_normal {
  font-size: 12px;
  font-family: 'helvetica' !important;
  color:##000000;  
  padding:0px;
  margin:0px;
  text-decoration: none;
}
.small_normal {
  font-size: 11px;
  font-family: 'helvetica' !important;
  color:#000000;  
  padding:0px;
  margin:0px;
  text-decoration: none;
}
.med_black {
  font-size: 12px;
  font-family: 'helvetica' !important;
  color:#000000;  
  padding:0px;
  margin:0px;
  text-decoration: none;
}
.small_black {
  font-size: 11px;
  font-family: 'helvetica' !important;
  color:#000000;  
  padding:0px;
  margin:0px;
  text-decoration: none;
}
.new {
	font-size: 10px;
	font-family: 'helvetica' !important;
	color: #333333;
	font-weight: bold;
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	text-transform: uppercase;
}



.caixa_revista {
	background-color: #FFF !important;
	border: 1px solid #e2e2e2;
}



.med_red {
  font-size: 12px;
  font-family: 'helvetica' !important;
  color:#E00A16;  
  padding:0px;
  margin:0px;
  text-decoration: none;
}
.small_red {
  font-size: 11px;
  font-family: 'helvetica' !important;
  color:#E00A16;  
  padding:0px;
  margin:0px;
  text-decoration: none;
}
.med_blanc {
  font-size: 13px;
  font-family: 'helvetica' !important;
  color:#000000;  
  padding:0px;
  margin:0px;
  text-decoration: none;
}
.destacado {
  font-size: 10px;
  font-family: 'helvetica' !important;
  color:#333333;  
  padding:0px;
  margin:0px;
  text-decoration: none;
}
.titols {
	font-size: 20px;
	line-height: 16px;
	font-family: 'helvetica' !important;
	color: #000000;
	font-weight: normal;
	text-decoration: none;
	text-align: left;
	margin: 0px;
	padding: 0px;
}
.volver {
  font-size: 1px;
  font-family: 'helvetica' !important;
  color: ffffff;  
  text-decoration: none;
}
.volver #fl {
	color: #FFFfff;
}
.comprar {
  font-size: 18px;
  font-family: 'helvetica' !important;
  color: black;  
  text-decoration: none;
}
.comprar #fl {
  color: #E00A16;
}
.menu {
  font-size: 12px;
  font-family: 'helvetica' !important;
  color: black;  
  background-color: #E5E5E5;
  padding-right: 5px;
  margin-top:2px;
  margin-left: 2px;
  display: block;
  width: 140px;
}
.menu_h {
  font-size: 12px;
  font-family: 'helvetica' !important;
  color: black;  
  background-color: #E5E5E5;
  padding-right: 5px;
  margin-top:2px;
  margin-left: 2px;
  display: block;
  width: 140px;
  font-weight: normal;
}
.menu a {
  font-size: 12px;
  font-family: 'helvetica' !important;
  color: black;  
  text-decoration: none;
}

.menu a:hover{
  font-size: 12px;
  font-family: 'helvetica' !important;
  color: #a4a4a4 !important;  
  text-decoration: none;
}



.menu_on {
  font-size: 12px;
  font-family: 'helvetica' !important;
  color: white;  
  background-color: #AAAAAA;
  padding-right: 5px;
  margin-top:2px;
  margin-left: 2px;
  display: block;
  width: 140px;
}
.menu_on a {
  font-size: 12px;
  font-family: 'helvetica' !important;
  color: black;  
  text-decoration: none;
}
.menu_on_h {
  font-size: 12px;
  font-family: 'helvetica' !important;
  color: white;  
  background-color: #AAAAAA;
  padding-right: 2px;
  margin-top:2px;
  margin-left: 2px;
  margin-bottom: 2px;
  display: block;
  width: 140px;
  font-weight: normal;
}
.menu_on_h a {
  font-size: 12px;
  font-family: 'helvetica' !important;
  color: black;  
  text-decoration: none;
}
.titol_modrev {
  font-size: 34px;
  line-height: 22px;
  font-family: 'helvetica' !important;
  color: #AAAAAA;
  font-weight: normal;
  text-decoration: none;
  text-align: left;
	margin: 0px;
	padding: 0px;
}
.titol_modrev_mini {
  font-size: 15px;
  font-family: 'helvetica' !important;
  color: #000000;
  font-weight: 600;
  text-decoration: none;
  text-align: left;
	margin: 0px;
	padding: 0px;
}
.titol_modrev_mini2 {
  font-size: 15px;
  font-family: 'helvetica' !important;
  color: #000000;
  font-weight: normal;
  text-decoration: none;
  text-align: left;
	margin: 0px;
	padding: 0px;
}
.titol_modrev_mini3 {
  font-size: 20px;
  font-family: 'helvetica' !important;
  color: #888888;
  font-weight: normal;
  text-decoration: none;
  text-align: left;
	margin: 0px;
	padding: 0px;
}
.titol_modrev_mini4 {
  font-size: 18px;
  font-family: 'helvetica' !important;
  color: #000000;
  font-weight: 600;
  text-decoration: none;
  text-align: left;
	margin: 0px;
	padding: 0px;
}
.titol_modrev_mini5 {
  font-size: 20px;
  font-family: 'helvetica' !important;
  color: #E00A16;
  font-weight: normal;
  text-decoration: none;
  text-align: left;
	margin: 0px;
	padding: 0px;
}
.titol_modrev_home {
  font-size: 14px;
  font-family: 'helvetica' !important;
  color: #E00A16;
  font-weight: normal;
  text-decoration: none;
  text-align: left;
	margin: 0px;
	padding: 0px;
}
.boto_temporada {
	font-size: 24px;
	line-height: 24px;
	font-family: 'helvetica' !important;
	color: #545454 important!;
	font-weight: 200;
	text-decoration: none;
	text-align: left;
	margin: 0px;
	padding: 0px;
}

.boto_temporada a {
	font-size: 24px;
	line-height: 24px;
	font-family: 'helvetica' !important;
	color: #000000 !important;
	font-weight: 200;
	text-decoration: none;
	text-align: left;
	margin: 0px;
	padding: 0px;
}

.boto_temporada a:hover {
	font-size: 24px;
	line-height: 24px;
	font-family: 'helvetica' !important;
	color: #000000;
	font-weight: 200;
	text-decoration: none;
	text-align: left;
	margin: 0px;
	padding: 0px;
}

.boto_temporada_on {
  font-size: 24px;
  line-height: 24px;
  font-family: 'helvetica' !important;
  color: #888888;
  font-weight: bold;
  text-decoration: none;
  text-align: left;
	margin: 0px;
	padding: 0px;
}
.boto_prenda {
	float: left;
	width: auto;
	min-width: 93px;
	font-family: 'helvetica' !important;
	font-size: 15px;
	color: #1A1A1A;
	margin-right: 2px;
	padding-right: 6px;
	padding-left: 6px;
	display: block;
	background-color: #E5E5E5;
	height: 20px;
	cursor: hand;
}
.boto_prenda a {
  font-family: 'helvetica' !important;
  font-size: 15px;
  color: black;
  text-decoration: none;
}

.boto_prenda a:hover {
	font-family: 'helvetica', Helvetica, Sans-Serif;
	font-size: 15px;
	color: black;
	text-decoration: none;
	
}

.boto_prenda_on {
  float: left;
  width: auto;
  min-width: 93px;
  font-family: 'helvetica' !important;
  font-size: 15px;
  font-weight:600;
  color: white;
  margin-right: 2px; 
  padding-right: 10px;
  
  padding-left: 10px;
  display: block;
  background-color: #AAAAAA;
  height: 22px;
  line-height:20px !important;
}
.boto_prenda2 {
  float: left;
  width: auto;
  font-family: 'helvetica' !important;
  font-size: 12px;
  color: black;
  margin-right: 2px;
  padding-right: 7px;
  padding-left: 7px;
  display: block;
  background-color: #E5E5E5;
  height: 18px;
  cursor: hand;
}
.boto_prenda2 a {
  font-family: 'helvetica' !important;
  font-size: 12px;
  color: black;
  text-decoration: none;
}
.boto_prenda2_on {
  float: left;
  width: auto;
  font-family: 'helvetica' !important;
  font-size: 15px;
  color: white;
  margin-right: 2px; 
  padding-right: 7px;
  padding-left: 7px;
  display: block;
  background-color: #AAAAAA;
  height: 18px;
}
.boto_linia {
  float: left;
  width: auto;
  font-family: 'helvetica' !important;
  font-size: 16px;
  color: black;
  margin-right: 2px;
  padding-right: 6px;
  padding-left: 6px;
  display: block;
  background-color: #ffffff;
  height: 20px;
  cursor: hand;
}
.boto_linia a {
  font-family: 'helvetica' !important;
  font-size: 14px;
  color: black;
  text-decoration: none;
}

.boto_linia a:hover {
	font-family: "Arial Narrow", Helvetica, Sans-Serif;
	font-size: 14px;
	color: #4B4B4B !important;
	text-decoration: none;
	
}

.boto_linia_on {
  float: left;
  width: auto;
  font-family: 'helvetica' !important;
  font-size: 14px;
  color: white;
  margin-right: 2px; 
  padding-right: 10px;
  padding-left: 10px;
  display: block;
  background-color: #AAAAAA;
  height: 20px;
}
.up_or_pie {
  font-size: 12px;
  font-family: 'helvetica' !important;
  color: black;
  

  
  padding:0px;
  padding-left: 9px;
  margin:0px;
  text-decoration: none;
}


.txt_peu {
	font-size: 12px !important;
	font-family: helvetica !important;
	font-weight: light;
	color: #000000;
	text-decoration: none;
	padding-left: 8px;
	
}

.txt_peu a{
	font-size: 13px !important;
	font-family: 'helvetica' !important;
	font-weight: 400;
	color: #000000;
	text-decoration: none;
	padding-left: 9px;
}

.txt_peu a:hover{
	font-size: 13px !important;
	font-family: 'helvetica' !important;
	
	color: #000000 !important;
	text-decoration: none;
	padding-left: 9px;
}

.idioma {
  font-size: 12px;
  font-family: 'helvetica' !important;
  color:#333333;  
  padding:0px;
  padding-left: 5px;
  margin:0px;
  text-decoration: none;
}





.idioma_on {
	font-size: 12px;
	font-family: 'helvetica' !important;
	font-weight: bolder;
	color: #000000;
	padding: 0px;
	padding-left: 5px;
	margin: 0px;
}
.tutorial_cat {
  font-size: 16px;
  font-family: 'helvetica' !important;
  font-weight: 600;
  color:#000000;  
  padding:0px;
  margin:0px;
  text-decoration: none;
}
.tutorial_tit {
  font-size: 16px;
  font-family: 'helvetica' !important;
  font-weight: bold;
  color:#000000;  
  padding:0px;
  margin:0px;
  text-decoration: none;
}
.tutorial_txt {
  font-size: 13px;
  font-family: 'helvetica' !important;
  color:#000000;  
  padding:0px;
  margin:0px;
  text-decoration: none;
}
.noticias_tit {
  font-size: 15px;
  font-family: 'helvetica' !important;
  font-weight: bold;
  color:#000000;  
  padding:0px;
  margin:0px;
  text-decoration: none;
}
.micesta {
  font-size: 13px;
  font-family: 'helvetica' !important;
  font-weight: 700;
  color:#000000;  
  padding:0px;
  margin:0px;
  text-decoration: none;
}
.micesta_txt {
  font-size: 13px;
  font-family: 'helvetica' !important;
  font-weight: normal;
  color:#000000;  
  padding:0px;
  margin:0px;
  text-decoration: none;
}

.inputbox {
  border: 0px solid black;
  font-size: 12px;
  line-height: 12px;
  width: 340px;
  font-family: 'helvetica'!important;
  color: black;
  font-weight: normal;
  margin: 0px; padding: 2px;
  margin-bottom: 0px;
  margin-top: 0px;
}
.formbox {
	border: 1px solid ##000000;
	font-size: 12px;
	line-height: 12px;
	width: auto;
	font-family: "Arial Narrow", Helvetica, Sans-Serif;
	font-weight: normal;
	margin: 0px;
	padding: 2px;
}
.formbutton {
	border: 0px solid #000000;
	font-size: 13px;
	line-height: 12px;
	background-color: #FFF;
	color: white;
	width: auto;
	font-family: 'helvetica' !important;
	font-weight: bold;
	margin: 0px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}
.formbutton2 {
  border: 0px solid #E00A16;
  font-size: 12px;
  line-height: 12px;
  color: black;
  width: auto;
  font-family: 'helvetica' !important;
  font-weight: normal;
  margin: 0px; padding: 2px;
}

.black_link {
  color: black;
  text-decoration: underline;
}



.continente {
  font-size: 15px;
  line-height: 18px;
  font-family: 'helvetica' !important;
  color: #E00A16;
  font-weight: bold;
  text-decoration: none;
  text-align: left;
  margin: 0px;
  padding: 0px;
}
.pais {
  font-size: 12px;
  line-height: 18px;
  font-family: 'helvetica' !important;
  color: black;
  font-weight: normal;
  text-decoration: none;
  text-align: left;
  margin: 0px;
  margin-left: 20px;
  padding: 0px;
}
.poblat {
  font-size: 13px;
  line-height: 18px;
  font-family: 'helvetica' !important;
  color: black;
  font-weight: normal;
  text-decoration: none;
  text-align: left;
  margin: 0px;
  margin-left: 20px;
}


/* OLD
area_link c:777777 bg:inherit
area bg:e6e6e6

seccion_link c:white bg: inherit
seccion bg:999999
*/

.cont_area_link {
	font-size: 18px;
	line-height: 64px;
	font-family: 'helvetica' !important;
	color: #000000;
	background-color: inherit;
	font-weight: lighter;
	text-decoration: none;
	text-align: left;
	margin: 0px;
	padding: 0px;
}
.cont_area_cell {
	line-height: 18px;
	margin-bottom: 15px;
	background-color: #ffffff;
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid #000000;
}
.cont_seccion_link {
  font-size: 17px;
  line-height: 24px;
  font-family: 'helvetica' !important;
  color: #000000;
  background-color: inherit;
  font-weight: normal;
  text-decoration: none;
  text-align: left;
  margin: 0px;
  padding: 0px;
}
.cont_seccion_cell {
	line-height: 22px;
	margin-top: 10px;
	margin-right: 15px;
	margin-bottom: 10px;
	background-color: #ffffff;
	padding-left: 15px;
	border: 1px solid #000000;
}
.cont_subseccion_link {
  font-size: 15px;
  line-height: 18px;
  font-family: 'helvetica' !important;
  color: #000000;
  background-color: inherit;
  font-weight: normal;
  text-decoration: none;
  text-align: left;
  margin: 0px;
  margin-left: 90px;
  padding: 0px;
  padding-left: 15px;
}
.cont_subseccion_cell {
	line-height: 22px;
	background-color: #ffffff;
	margin-top: 10px;
	margin-right: 15px;
	margin-bottom: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
	border: 1px solid #000000;
}
.cont_subseccion {
  line-height: 12px;
  background-color: #FFFFFF;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  width: auto;
  color: ##000000;
}


ul#datosLana {font-size:9px;  overflow:hidden;  }
ul#datosLana li { float:left; width:44px; height:44px; position:relative; padding-right:8px; }
ul#datosLana li span {position:absolute; }

ul#datosLana li.aguja { }
ul#datosLana li.aguja span.dat { left:5px; text-align:center; top:27px; width:22px; }
ul#datosLana li.aguja span.datUsa { left:25px; text-align:center; top:13px; width:21px; }

ul#datosLana li.ganchillo { }
ul#datosLana li.ganchillo span.datGanchillo { left:32px; text-align:center; top:0px; width:22px; }
ul#datosLana li.ganchillo span.datUsaGanchillo { left:26px; text-align:center; top:22px; width:21px; }

ul#datosLana li.dat10x10 { }
ul#datosLana li.dat10x10 span.interior { left:5px; text-align:center; top:13px; width:22px; }
ul#datosLana li.dat10x10 span.ancho { left:3px; text-align:center; top:30px; width:25px; }
ul#datosLana li.dat10x10 span.alto { left:27px; top:13px;}

ul#datosLana li.talla { }
ul#datosLana li.talla span.nTalla {top:16px; left:12px; width:19px; text-align:center;}
ul#datosLana li.talla span.ovillos { left:12px; text-align:center; top:32px; width:19px; }

ul#datosLana li.ovillo { }
ul#datosLana li.ovillo img { position:absolute; top:-3px; }
ul#datosLana li.ovillo span.datOvillo{ left:0; text-align:center; top:32px; width:50px; }

ul#datosLana li.equivalencia { width:100px; }
ul#datosLana li.equivalencia span.equivalencia1 {top:10px; }
ul#datosLana li.equivalencia span.equivalencia2{ top:25px; }

.titol {
  font-size: 20px;
  line-height: 22px;
  font-family: 'helvetica' !important;
  color: black;
  font-weight: normal;
  text-decoration: none;
}
.titoln {
  font-size: 20px;
  line-height: 22px;
  font-family: 'helvetica' !important;
  color: black;
  font-weight: bold;
  text-decoration: none;
}
.text {
  font-size: 18px;
  line-height: 18px;
  font-family: 'helvetica' !important;
  color: black;
  font-weight: normal;
  text-decoration: none;
}
.textn {
  font-size: 18px;
  line-height: 18px;
  font-family: 'helvetica' !important;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

/* NOU ESTIL */
